
body {
  font-family: 'Encode Sans Condensed', sans-serif;
}

.container {
  width: 100%;
}

nav {
  padding-left: 15px;
  padding-top: 10px;
}

header {
  background-color: #da29fd;
}

.fa-bars {
  font-size: 3em;
  color: #044553;
}

.headerLeft {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.logo {
  height: 80px;
}

.headerMiddle {
  display: inline-block;
  text-align: center;
}

.task {
  padding: 2%;
}

h2 {
  font-size: 1.9em;
}

.individualTask {
  padding-left: 10px;
  padding-bottom: 5px;
}

#task, #editTask {
  width: 100%;
}

.inputForm, .editInputForm {
  margin-top: 5%;
}

input[type=submit], button {
  height: 28px;
  line-height: 1em;
  background-color: #da29fd;
  color: #044553;
  width: 70px;
  border: 1px solid white;
}

#editTaskButton, #deleteTask {
  width: 30px;
}

.taskInput, .taskButtons {
  display: inline-block
}

.taskInput {
  width: 60%;
}

.taskButtons{
  float: right;
}

ol {
  list-style-type: none;
}

li {
  line-height: 1.5em;
}

#taskSubmit, #submitTask {
  margin-top: 10px;
}

footer {
  text-align: center;
  position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background-color: white;
}

.footerImage {
  height: 50px;
}

.widgetBox {
  position: relative;
  background-repeat: no-repeat;
  min-height: 25rem;
  height: auto;
  font-size: 1.2rem;
  background-size: cover;
  margin-bottom: 20px;
}

.newsBox {
  margin-right: 30%;
  margin-top: 0%;
  width: 100%;
  letter-spacing: 1.5px;
  line-height: 1.3em;
}

.newsTitle, .newsDescription, .newsUrl {
  margin-left: 1rem;
  margin-top: 1rem;
}

.widgetBox h2 {
  margin-left: 1rem;
  padding-top: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .3);    
    color: #FFF;
}

.widgetBox h3 {
  font-weight: 600;
}

a, a:visited, a:hover {
  text-decoration-color: #FFF;
  color: #fff;
}

.widgetBoxWeather {
  background-image: url('./cloudy1.jpg')
}

.weatherBox {
  margin-top: 1rem;
  margin-left: 1rem;
  letter-spacing: 1.5px;
  line-height: 1.3em;
}

.weatherState, .maxTemp, .theTemp, .humidity, .minTemp {
  margin-top: 6px;
}