header {
  background-color: deeppink;
}

.fas {
  font-size: 3em;
  color: #044553;
}

.headerLeft {
  text-align: center;
  margin-top: 15px;
}

.logo {
  height: 80px;
}

.headerMiddle {
  text-align: center;
}

h2 {
  font-size: 1.9em;
}

.individualTask {
  padding-left: 10px;
}

#task, #editTask {
  width: 100%;
}


input[type=submit] {
  height: 28px;
  line-height: 1em;
  background-color: deeppink;
  color: #044553;
}

.taskButtons{
  text-align: right;
}

ol {
  list-style-type: none;
}

li {
  margin-bottom: 0;
}

.widgetBox {
  background-repeat: no-repeat;
  min-height: 25rem;
  height: auto;
}

h4 {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 20%; 
}

.newsBox {
  margin-right: 30%;
  margin-top: 20%;
}

.newsTitle, .newsDescription, .newsUrl {
  margin-left: 1rem;
}
